@{
    ViewData["Title"] = "About US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- end inner page banner -->
<!-- section -->
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">About</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section padding_layout_1 light_silver gross_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>Dịch vụ của chúng tôi</h2>
                        <p class="large">Dễ dàng và hiệu quả để sửa chữa thiết bị của bạn.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="full">
                            <div class="service_blog_inner2">
                                <div class="icon text_align_left"><i class="fa fa-wrench"></i></div>
                                <h4 class="service-heading">Sửa chữa</h4>
                                <p class="large">Sữa chữa uy tín - chất lượng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="full">
                            <div class="service_blog_inner2">
                                <div class="icon text_align_left"><i class="fa fa-cog"></i></div>
                                <h4 class="service-heading">Lắp đặt</h4>
                                <p class="large">Lắp đặt nhanh chóng - tiết kiệm.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="full">
                            <div class="service_blog_inner2">
                                <div class="icon text_align_left"><i class="fa fa-history"></i></div>
                                <h4 class="service-heading">Bảo trì</h4>
                                <p class="large">Bảo trì chính hãng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="full">
                            <div class="service_blog_inner2">
                                <div class="icon text_align_left"><i class="fa fa-heart-o"></i></div>
                                <h4 class="service-heading">Bảo hành</h4>
                                <p class="large">Bảo hành và hỗ trợ lâu dài (12 tháng).</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section -->
<div style="display:none;" class="section padding_layout_1 testmonial_section white_fonts"></div>
<!-- end section -->