@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="inner_banner" class="section inner_banner_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="title-holder">
                        <div class="title-holder-cell text-left">
                            <h1 class="page-title">Services</h1>
                            <ol class="breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li class="active">Services</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end inner page banner -->
<div class="section padding_layout_1 gross_layout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="main_heading text_align_left">
                        <h2>Quy trình dịch vụ</h2>
                      
                    </div>
                </div>
            </div>
        </div>
@*         <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="/images/it_service/si1.png" alt="#"></div>
                                <h4 class="service-heading">Fast service</h4>
                                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="/images/it_service/si2.png" alt="#"></div>
                                <h4 class="service-heading">Secure payments</h4>
                                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="/images/it_service/si3.png" alt="#"></div>
                                <h4 class="service-heading">Expert team</h4>
                                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="/images/it_service/si4.png" alt="#"></div>
                                <h4 class="service-heading">Affordable services</h4>
                                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="/images/it_service/si5.png" alt="#"></div>
                                <h4 class="service-heading">90 Days warranty</h4>
                                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="full">
                            <div class="service_blog_inner">
                                <div class="icon text_align_left"><img src="/images/it_service/si6.png" alt="#"></div>
                                <h4 class="service-heading">Award winning</h4>
                                <p>Exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>
</div>
<!-- section -->
<div class="section padding_layout_1 light_silver service_list">
    <div class="container">
        <div class="row">
            <div class="col-md-3 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="/images/it_service/post-01.jpg" alt="#" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Bảo trì</h3>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="it_service_detail.html">Chi tiết</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="/images/it_service/post-02.jpg" alt="#" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Sửa chữa</h3>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="it_service_detail.html">Chi tiết</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="/images/it_service/post-03.jpg" alt="#" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Lắp đặt</h3>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="it_service_detail.html">Chi tiết</a> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 service_blog">
                <div class="full">
                    <div class="service_img"> <img class="img-responsive" src="/images/it_service/post-03.jpg" alt="#" /> </div>
                    <div class="service_cont">
                        <h3 class="service_head">Bảo hành</h3>
                        <div class="bt_cont"> <a class="btn sqaure_bt" href="it_service_detail.html">Chi tiết</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section -->
<div style="display:none;" class="section padding_layout_1 testmonial_section white_fonts"></div>
<!-- end section -->